@include reset;

:root {
	--prime-color:      #{$primeColor};
	--prime-color-5d:   #{darken($primeColor, 5%)};
	--prime-color-10d:  #{darken($primeColor, 10%)};

	--font-size: 14px;
}

@include selection(var(--prime-color-5d), #fff);

html, body {
	@extend %full-width-tmpl;
}

body {
	font-family: Roboto, Arial, sans-serif;

	@import 'links-style';
}

button { font: inherit }

script {
	@extend %visually-hidden;
	font-size: 0;
}

.separator {
	padding: .5em 0;
}

q {
	&::before { content: '\00AB' }
	&::after { content: '\00BB' }
}
