@import 'inc/vars';
@import 'inc/mixins';

@include reset;

:root {
	--prime-color-10d: #{darken($primeColor, 10%)};
	--prime-color-5d: #{darken($primeColor, 5%)};

	--scroll-color: #828282;
}

/*
 * Большой набор костылей для стилизации Чатовода
 */

body {
	.chat {
		font-family: Roboto, Arial, sans-serif !important;
	}
}

// @keyframes colorRainbow {
// 	0% { color: red	}
// 	16.6% { color: orange }
// 	33.3% { color: yellow }
// 	50% { color: green }
// 	66.6% { color: blue }
// 	83.3% { color: aquamarine }
// 	100% { color: violet }
// }
//
// .chatUser[rel="2472033"] {
// 	animation: colorRainbow 5s ease-in-out 0s infinite;
// }

em { font-style: normal }
strong { font-weight: normal }

button, input[type='button'], select { font: inherit }

a[href*='?cat=vip'],
.chatLinkImage {
	display: none !important
}

.chat, .chatHeader {
	border-color: transparent;
	background-color: transparent;
}

.chat {
	font-size: 14px;

	border: 0;

	&Main, &Footer {
		background-color: transparent;
		background-image: none;
	}

	&Tabs {
		&Left {
			width: 10px;
		}

		ul {
			left: 10px;
		}

		.appTab {
			display: none;
		}

		& > ul > li.chatTab {
			&.chatTabActive > a,
			& > a:hover, & > a:active {
				background-color: var(--prime-color-10d) !important;
			}
		}
	}

	@at-root .smilesBox,
	&Main,
	&EventDiv,
	&People ul.chatPeopleList li.hover,
	&PopupMenuDiv1,
	&PopupMenuDiv2 {
		background-color: #fff;
	}

	&MenuItemWithSeparator {
		a[href="#"] {
			padding-right: 13px;

			.menu_profile_title {
				font-size: 0;
			}
		}
	}

	&People ul.chatPeopleList li.hover {
		border: 0 !important;
	}

	&Footer {
		background-color: #f5f5f5;

		& > &Wrapper {
			width: 100%; height: 100%;
		}

		font-weight: normal;
	}

	&People {
		border-left: 0 !important;

		.chatPeople {
			&List img { display: none }
			&Title { padding-top: 40px }
		}
	}

	&FooterWrapper {
		@include flexbox(auto, center, center, auto);
	}

	&SetupNickname {
		width: 100%; height: 100%;
		position: static;

		line-height: 1;

		background-color: var(--prime-color-10d) !important;

		#join-chat-button {
			width: 100%; height: 100%;
			padding: 5px !important;

			background-color: transparent;
			border: 0 !important;

			font-weight: normal;
			font-size: 1.3em;
			color: #fff;

			outline: 0;

			cursor: pointer;

			&:hover {
				background-color: var(--prime-color-5d) !important;
			}
		}
	}

	&SoundPanel {
		top: 10px !important;
		right: 120px !important;
	}

	&Send {
		&ExitPanel {
			top: 6px !important;
			right: 10px !important;
		}

		&ButtonPanel {
			width: auto;
			top: 32px !important;
			right: 10px !important;
		}

		&TextPanel {
			top: 32px !important;
			right: 95px !important;
			left: 10px !important;
		}

		&LinksPanel {
			top: 10px !important;
			left: 10px !important;

			.chatLinkGold,
			.chatLinkProfile,
			.chatLinkMore {
				display: none;
			}

			a.chatLinkSmiles {
				background-image: url('#{$imgPath}/other/zephir.png?v=#{$VERSION}');
				background-color: transparent;
			}
		}
	}

	&SendButtonPanel input,
	&SendExitPanel select,
	&SetupNickname input,
	&Full #join-buttons input {
		$_borderColor: #a9a9a9;

		background-color: #fff;
		border: 1px solid $_borderColor;

		@include transition(.3s);
	}

	&Message img[alt*=":"],
	& .smilesBox a[onclick*='chatSmile'] img {
		max-height: 64px;
		margin: 0 2px;
	}

	&Message {
		padding-left: 10px;

		&ToMe .chatToUser {
			color: #fff !important;
		}

		span:not([class*='User']) {
			color: #000 !important;
		}

		.chatUserFrom span[style] {
			color: var(--prime-color-10d) !important;
		}
	}

	&Main {
		top: 0;

		& .chatMessages,
		& .chatPrivateMessages {
			font-size: 1em;
		}
	}

	&User {
		&Icon { display: none }

		&Wrapper {
			margin-left: 0;
			cursor: default;
		}

		&Menu {
			padding-top: 5px;

			&Items {
				margin-left: 0;
				border-left: 2px solid var(--prime-color-5d);
				padding-left: 5px;

				& > ul > li > a {
					&[class*='Photos'], &[class*='Gift'] {
						display: none;
					}
				}
			}
		}

		&From { font-weight: 500 }

		&Avatar {
			display: none;
		}
	}

	&UserFrom,
	&People ul.chatPeopleList li a.chatUser,
	&People ul.chatPeopleList li a.chatUser span[style] {
		color: var(--prime-color-10d) !important;
	}

	&Header {
		height: 0;
		.chatTitle { display: none }

		.chatTopLine {
			background-color: #fff;
			border-color: #bdbdbd;
			right: 10px;
		}
	}

	&SystemMessage.type-event { display: none }

	&TopLineWrapper {
		a {
			&[href*='photos'], &[href*='cat=bal'],
			&[href*='guests'], &[href*='gallery'],
			&[href*='news'], &[href*='rules'],
			&[href*='code'], &[href*='friends'] {
				display: none;
			}
		}

		& > ul > li > a {
			text-shadow: none;
			background-image: none !important;

			&:hover {
				background-color: rgba(#000, .1)
			}
		}

		& > ul > li:not(:last-child) > a {
			border-right: 1px #bdbdbd solid;
		}

		& > ul > li > ul > li > a {
			width: auto;
		}
	}

	&Full {
		a {
			display: inline;
			padding: 0 .5px;
			text-decoration: none;
			color: $textColor;
			border-bottom: 1px solid $textColor;

			@include transition(.3s);

			&:hover {
				background-color: rgba($textColor, .1);
			}
		}
	}

	#chatMainMenuProfile,
	#chatMainMenuChat {
		width: auto !important;
		border: 0;
		box-shadow: 0px 0px 5px rgba(#000, .2);
		min-width: 130px;

		a {
			&[href*='/users/'] {
				display: none;
			}
		}
	}

	.chatPopupMenu {
		&Div1, &Div2 {
			border: 0;
		}

		&Div2 {
			box-shadow: 0px 0px 5px rgba(#000, .1);
		}
	}

	.smilesBox {
		p { font-size: 0 }
	}

	#scrollBottomBox {
		background-color: var(--scroll-color);
		border-color: var(--scroll-color);
		font-family: inherit;
		color: #fff;
		opacity: .8;

		@include transition(.3s);
	}
}

.vscrollable {
	&::-webkit-scrollbar {
		width: 4px;

		&-thumb {
			background-color: var(--prime-color-5d);

			&:hover {
				background-color: var(--prime-color-10d);
			}
		}
	}

	@supports (-moz-appearance: none) {
		scrollbar-width: thin;
		scrollbar-color: var(--prime-color-5d) #fff;
	}
}
