footer.copy
	p #[a(href='/' rel='home' data-style='no-border no-default-hover') #{title.toUpperCase()}] &copy; #{new Date().getFullYear()}

	p #[span(data-lang='made_with') сделано с] #[span.copy__heart &#9829;]

	p(style='margin-top: 5px') #[a(href='/about' style='text-transform: lowercase' data-style='no-border no-default-hover' data-lang='about_project')]
