ul.menu
	li
		a.menu__elem(href=`${URLs.links_soc.vk}` target='_blank' rel='nofollow noopener' data-lang-title='com_vk')
			i.fa.fa-vk

	li
		a.menu__elem(href=`${URLs.links_soc.tg}` target='_blank' rel='nofollow noopener' data-lang-title='com_tg')
			i.fa.fa-telegram

	li
		a.menu__elem(href=`${URLs.links_soc.discord}` target='_blank' rel='nofollow noopener' data-lang-title='com_discord')
			i.fa.fa-discord
