h2 #[span Право&shy;облада­&shy;телям]

p Если вы обнаружили на нашем сайте материал, который нарушает ваши авторские права, или же дискредитирует вашу компанию, предоставляя неверную информацию, пожалуйста свяжитесь с нами для решения этого вопроса. Для этого необходимо отправить e-mail на нашу почту #[+mailto(projectEmail)] с вашего корпоративного почтового ящика со следующим содержанием:

ul.list
	li контактные данные и реквизиты вашей компании
	li прямую ссылку/ссылки на материал, который вы считаете спорным
	li заверенные сканированные копии документов, подтверждающих ваше эксклюзивное право на материал
	li копии документов на посреднические услуги (в случае, если вы представляете интересы другой компании)

p Вся информация будет проверена, и мы в кратчайшие сроки (насколько это будет возможно) свяжемся с вами для урегулирования спорного вопроса.
p Мы не продаем материалы на нашем сайте, весь контент предоставлен для бесплатного домашнего ознакомления. Мы уважаем мнение и желания правообладателей и всегда идем к ним навстречу, готовы пойти как и на уступки, так и на сотрудничество.

//- NOTE: Текст взят с shikimori.org и copyright.sovetromantica.com
