h2 #[span Правила чата]

p Мы стараемся создать атмосферу взаимопонимания и уюта, поэтому в нашем чате действует небольшой свод правил:

ul.list
	li администрация и модераторы не несут отвественности за контент, отправляемый участниками в чат, но оставляют за собой право в любой момент удалять контент и приостанавливать доступ участников к общению без объяснения причин
	li спам, детская порнография и шок-контент &ndash; под запретом
	li оскорбления, споры и угрозы допустимы, но в меру и только при условии, что собеседник не против
	li пожертвование не даёт участнику никаких преимуществ перед другими и также не даёт ему права кого-либо оскорблять без причины или что-либо требовать

p Участвуя в чате, вы безоговорочно принимаете указанные здесь условия.
