# Кодировка
AddDefaultCharset utf-8

# Запрет на просмотр директорий
Options All -Indexes

# Удаление у всех .html-файлов расширения из адреса
RewriteEngine on
RewriteBase /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.html\ HTTP
RewriteRule ^([^.]+)\.html$ /$1 [R=301,L]
RewriteCond %{REQUEST_URI} !(\.[^./]+)$
RewriteCond %{REQUEST_fileNAME} !-d
RewriteCond %{REQUEST_fileNAME} !-f
RewriteRule (.*) /$1.html [L]

# Удаление www из адреса
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.
RewriteCond %{HTTPS}s ^on(s)|off
RewriteCond http%1://%{HTTP_HOST} ^(https?://)(www\.)?(.+)$
RewriteRule ^ %1%3%{REQUEST_URI} [R=301,L]

# Форсированный HTTPS (не нужен из-за HSTS)
# RewriteEngine on
# RewriteCond %{HTTPS} !on
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# Обработка ошибок
ErrorDocument 404 /apps/error.htm
ErrorDocument 403 /apps/error.htm

# Content Security Policy
<IfModule mod_headers.c>
Header set Strict-Transport-Security 'max-age=31536000; includeSubDomains; preload' env=HTTPS

Header set Content-Security-Policy "default-src 'self'; \
 child-src 'self' https://chatovod.ru https://thenyan.chatovod.ru https://www.youtube-nocookie.com https://player.twitch.tv https://mixer.com https://goodgame.ru; \
 frame-ancestors 'self'; \
 style-src 'self' 'unsafe-inline' data: https://nyan-cdn.blyat.science https://cdnjs.cloudflare.com https://fonts.googleapis.com; \
 script-src 'self' 'unsafe-inline' https://nyan-cdn.blyat.science https://cdnjs.cloudflare.com https://www.google-analytics.com https://www.googletagmanager.com https://mc.yandex.ru; \
 img-src 'self' data: https://nyan-cdn.blyat.science https://aw-cdn.blyat.science https://www.google-analytics.com https://mc.yandex.ru https://images.weserv.nl; \
 media-src 'self' blob: https://nyan-video.blyat.science; \
 font-src 'self' https://cdnjs.cloudflare.com https://fonts.gstatic.com; \
 connect-src 'self' https://nyan-api.blyat.science https://r-a-d.io https://mc.yandex.ru"
</IfModule>

<FilesMatch 'service-worker.min.js'>
	ExpiresDefault 'now'
</FilesMatch>

Redirect 301 /sitemap.php /sitemap.xml
