div
	h3 (〃＞＿＜;〃)

	p Кажется, в Вашем браузере нет Flash-плагина, или же он просто выключен. К счастью, на сайте Adobe есть #[+externalLink('https://helpx.adobe.com/ru/flash-player.html', 'прекрасная инструкция')] по решению этой проблемы.

	p Если же Вы не хотите связывать себя c древними как сам Мир технологиями (или же не имеете для этого возможности), то для просмотра можно воспользоваться для просмотра любым плеером, который поддерживает RTMP (например, #[+externalLink('https://www.videolan.org/vlc/#download', 'VLC')]):

	p #[kbd #{PLAYERS.rtmp}]

	p.mini Когда-нибудь мы откажемся от Flash, но это уже совсем другая история.
