noscript
	p Ой! В вашем браузере сейчас выключен JavaScript.
	p К сожалению, из-за этого функционал нашего сайта для вас недоступен.

	div.separator

	p Пожалуйста, включите JavaScript сами, или воспользуйтесь #[+externalLink('https://yandex.ru/support/common/browsers-settings/browsers-java-js-settings.xml', 'этой инструкцией')].
	p У нас круто, и это определённо будет стоить затраченных усилий.

	div.separator

	p Спасибо! ヽ(・∀・)ﾉ
